# Dépendances
node_modules/

# Build
dist/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*

# Variables d'environnement
.env
.env.local
.env.*.local

# Éditeurs
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.sw?

# OS
.DS_Store
Thumbs.db

# Vite
*.local
